.content-data {
    /* background-color: white; */
    /* width: 80%; */
    /* margin-top: 20px; */
    padding: 0px 10px;
    position: relative;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    margin-bottom: 20px;
    width: 120%;
}

/*scrapper end */

/* scrapper intro start */
.content-data .data-card {
    margin-left: 10px;
    display: inline-block;
    /* margin-top: 70px; */
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 3%;
    width: 18%;
    border-radius: 30px;
}

.data-card img {
    float: left;
    height: 45px;
    width: 40px;
  }

  .data-card h4 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 11px;
}

.data-card h3 {
    margin-top: 5px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.content-data .images{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
/* .img-wrapper{
  overflow:hidden;
}
img.hover-zoom:hover {
  transform: scale(1.25);
}
.images img{
    width: 400px;
    height: 300px;
} */

.content-data .images figure {
    width: 600px;
    background-repeat: no-repeat;
  }
  
  .content-data .images figure:hover img {
    opacity: 0;
  }
  
  .content-data .images img {
    display: block;
    width: 400px;
    height: 300px;
    pointer-events: none;
  }