.resetpass-content .title {
    text-align-last: center;
    color: black;
    /* margin-bottom: 10px; */
  }
  
  .resetpass-content .submit {
    border-radius: 20px;
    font-size: 25px;
    margin-top: 20px;
    margin:auto;
    display:block
  }
  
  .resetpass-content .createAccount {
    text-align-last: center;
    margin-top: 10px;
  }
  
  .resetpass-content .back {
    text-align-last: center;
    margin-top: 10px;
  }
  
  .resetpass-content .errorShow {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0.5rem;
    color: red;
  }
  