*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgray;
}
div .content {
    margin-left: 10px;
    padding: 0px 10px;
    position: absolute;
    top: 5%;
    left: 17.5%;
  }

  .content .submit {
    border-radius: 14px;
    font-size: 20px;
    margin-top: 5px;
  }